<header id="site-header" class="hero is-dark is-bold is-medium has-text-centered" style="background-image: url('<%= require('../images/cover.jpg') %>');">
  <div class="is-overlay"></div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title"><a class="brand" href="/">拍逗科技</a></h1>
      <p class="description">让一切更加有趣 🎉</p>
    </div>
  </div>
  <div class="hero-footer">
    <div class="container">
      <nav class="main-menu nav nav-center">
        <h2 class="offscreen">🏠 全局导航</h2>
        <a class="nav-item is-active">首页</a>
        <a class="nav-item">服务</a>
        <a class="nav-item">作品</a>
        <a class="nav-item">博客</a>
        <a class="nav-item">关于</a>
      </nav>
    </div>
  </div>
</header>
