<div class="suspension">
  <button title="回到顶部" class="button is-outlined is-hide to-top"><span class="icon"><img src="<%= require('../images/to-top.svg') %>" alt="回到顶部"></span></button>
  <button title="文章讨论区" class="button is-outlined to-disqus"><span class="icon"><img src="<%= require('../images/to-disqus.svg') %>" alt="文章讨论区"></span></button>
</div>
