<section class="section is-section is-works has-text-centered">
  <div class="container">
    <div class="heading">
      <h2 class="title is-4">🖥📱 我们的作品</h2>
      <p class="description">What have we created?</p>
    </div>
    <div class="columns">
      <div class="column card">
        <div class="card-image">
          <figure class="image is-4by3">
            <a title="经典猜数字小游戏的微信小程序版本。">
              <img src="http://bulma.io/images/placeholders/640x480.png" alt="我爱猜数字">
              <div class="is-overlay" style="background-image: url('http://bulma.io/images/placeholders/480x480.png');"></div>
            </a>
          </figure>
        </div>
        <div class="card-content">
          <div class="content">我爱猜数字<br><small>微信小程序 · 拍逗科技</small></div>
        </div>
      </div>
      <div class="column card">
        <div class="card-image">
          <figure class="image is-4by3">
            <a title="DiliCMS 是一个基于 CodeIgniter 的快速开发内容管理系统。">
              <img src="http://bulma.io/images/placeholders/640x480.png" alt="DiliCMS">
              <div class="is-overlay" style="background-image: url('http://bulma.io/images/placeholders/480x480.png');"></div>
            </a>
          </figure>
        </div>
        <div class="card-content">
          <div class="content">DiliCMS<br><small>开源项目 · 拍逗科技</small></div>
        </div>
      </div>
      <div class="column card">
        <div class="card-image">
          <figure class="image is-4by3">
            <a title="基于微信小程序开发的群跑步签到和排行榜应用。">
              <img src="http://bulma.io/images/placeholders/640x480.png" alt="逗の跑">
              <div class="is-overlay" style="background-image: url('http://bulma.io/images/placeholders/480x480.png');"></div>
            </a>
          </figure>
        </div>
        <div class="card-content">
          <div class="content">逗の跑<br><small>微信小程序 · 拍逗科技</small></div>
        </div>
      </div>
      <div class="column card">
        <div class="card-image">
          <figure class="image is-4by3">
            <a title="南京本地最大最全的企业信息推荐和搜索引擎。">
              <img src="http://bulma.io/images/placeholders/640x480.png" alt="南京企业秀">
              <div class="is-overlay" style="background-image: url('http://bulma.io/images/placeholders/480x480.png');"></div>
            </a>
          </figure>
        </div>
        <div class="card-content">
          <div class="content">南京企业秀<br><small>搜索引擎 · 拍逗科技</small></div>
        </div>
      </div>
      <div class="column card">
        <div class="card-image">
          <figure class="image is-4by3">
            <a title="通用可定制的本地生活会员卡解决方案，彻底打通微信、微博和支付宝。">
              <img src="http://bulma.io/images/placeholders/640x480.png" alt="超级卡">
              <div class="is-overlay" style="background-image: url('http://bulma.io/images/placeholders/480x480.png');"></div>
            </a>
          </figure>
        </div>
        <div class="card-content">
          <div class="content">超级卡<br><small>解决方案· 拍逗科技</small></div>
        </div>
      </div>
      <div class="column card">
        <div class="card-image">
          <figure class="image is-4by3">
            <a title="打通微信和微博平台的开源微投票项目。">
              <img src="http://bulma.io/images/placeholders/640x480.png" alt="微投票字">
              <div class="is-overlay" style="background-image: url('http://bulma.io/images/placeholders/480x480.png');"></div>
            </a>
          </figure>
        </div>
        <div class="card-content">
          <div class="content">微投票<br><small>开源项目 · 拍逗科技</small></div>
        </div>
      </div>
    </div>
  </div>
</section>
