<section class="section is-section is-service has-text-centered">
  <div class="container">
    <div class="heading">
      <h2 class="title is-4">💖💯 我们的服务</h2>
      <p class="description">What can we do for you?</p>
    </div>
    <div class="columns is-multiline">
      <div class="column is-2">
        <figure class="image is-4by3">
          <img src="http://bulma.io/images/placeholders/640x480.png">
        </figure>
      </div>
      <div class="column is-4 has-text-left">
        <p class="content summary">我们是一帮有趣的互联网老鸟，致力于帮助中小企业或组织更有效率的 <strong>+互联网</strong> 。我们利用先进的互联网产品设计工具和方法帮助企业或组织推广自身品牌和产品，提高业务运营效率，提升现有产品的用户体验。</p>
        <p class="read-more"><a>查看详情 →</a></p>
      </div>
      <div class="column is-2">
        <figure class="image is-4by3">
          <img src="http://bulma.io/images/placeholders/640x480.png">
        </figure>
      </div>
      <div class="column is-4 has-text-left">
        <p class="content summary">我们亦是一群专业的 <strong>全栈开发</strong> 工程师，致力于把客户的点子变成牛牪犇逼的产品。从WEB到APP开发，从桌面网站到移动页面，从微博到微信开发，我们样样在行。我们喜欢研究技术，更快的产品迭代和零BUG交付是我们永恒的追求。</p>
        <p class="read-more"><a>查看详情 →</a></p>
      </div>
    </div>
  </div>
</section>
