<footer id="site-footer" class="footer">
  <div class="container">
    <div class="social-media columns">
      <div class="column">
        <aside class="menu">
          <h2 class="menu-label">🐧 关注我们</h2>
          <div class="columns is-mobile">
            <div class="column">
              <ul class="menu-list">
                <li><a>微信公号</a></li>
                <li><a>新浪微博</a></li>
                <li><a>拍逗社区</a></li>
                <li><a>拍逗专栏</a></li>
                <li><a>拍逗商城</a></li>
              </ul>
            </div>
            <div class="column">
              <ul class="menu-list">
                <li><a href="https://twitter.com/pubeaninc" title="Follow me">Twitter</a></li>
                <li><a>Facebook</a></li>
                <li><a>Google+</a></li>
                <li><a>Instagram</a></li>
                <li><a>Medium</a></li>
              </ul>
            </div>
            <div class="column">
              <ul class="menu-list">
                <li><a href="https://github.com/pubean" title="Fork me">GitHub</a></li>
                <li><a href="https://stackshare.io/pubean" title="Share tech stack">Stackshare</a></li>
                <li><a>Dribbble</a></li>
                <li><a>哔哩哔哩</a></li>
                <li><a>YouTube</a></li>
              </ul>
            </div>
          </div>
        </aside>
      </div>
      <div class="column">
        <aside class="menu">
          <h2 class="menu-label">📰 最新文章</h2>
          <div class="box">
            {{ range first 1 (where .Site.Pages.ByDate "Type" "post") }}
              <article class="media">
                <div class="media-content">
                  <h3 class="title is-4">{{ .Title }}</a></h3>
                  <p class="content summary">{{ .Summary | plainify }}</p>
                  <p class="read-more"><a href="{{ .Permalink }}"><small>查看全文 →</small></a></p>
                </div>
              </article>
            {{ end }}
          </div>
        </aside>
      </div>
    </div>

    <div class="copyright has-text-centered">
      <!-- <p><small>
        <a><span class="tag is-light">🇨🇳 简体字</span></a>
        <a><span class="tag is-light">🇭🇰 繁體字</span></a>
        <a><span class="tag is-light">🇺🇸 English</span></a>
        <a><span class="tag is-light">🇯🇵 日本語</span></a>
      </small></p> -->
      <p><small>© Copyright {{ if eq now.Year 2017 }}2017{{ else }}2017-{{ now.Year }}{{ end }} {{ $.Param "shortTitle" }} All Rights Reserved.</small></p>
      <p><small><a href="http://www.miitbeian.gov.cn" title="查看备案信息" target="_blank">{{ $.Param "icp" }}</a></small></p>
    </div>
  </div>
</footer>
