<a class="fork-me-band" href="https://github.com/chekun/dilicms">
  <img style="position: fixed;z-index:99; top: 0; right: 0; border: 0;" width="149" height="149" src="./media/works/forkme.png" alt="Fork me on GitHub">
</a>
<div id="fullpage">
  <div class="section active has-text-centered" id="section0">
    <figure class="image is-128x128" style="margin: 0 auto;">
      <img src="{{ .Params.logo }}">
    </figure>
    <h1 class="title is-2">{{ .Title }}</h1>
    <p class="content">{{ .Content | plainify }}</h2>
    <div id="ghbtns" class="block">
      <iframe src="https://ghbtns.com/github-btn.html?user=chekun&amp;repo=dilicms&amp;type=star&amp;count=true&amp;size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
      <iframe src="https://ghbtns.com/github-btn.html?user=chekun&amp;repo=dilicms&amp;type=fork&amp;count=false&amp;size=large" frameborder="0" scrolling="0" width="80px" height="30px"></iframe>
    </div><br>

    <div id="supportedBy">
      <div>Supported by:</div>
      <a href="https://pubean.com">
        <img src="./media/works/supportedby.png" width="130" height="31" alt="Pubean Inc." />
      </a>
    </div>
  </div>
</div>
