<script src="./build/js/vendor.b5de082a.js"></script>
<script src="./build/js/main.003cacf6.js"></script>
<script src="//cdn.bootcss.com/fullPage.js/2.9.4/jquery.fullpage.min.js"></script>
<script>
  // 全屏案例
  $(document).ready(function () {
    $('#fullpage').fullpage({
      sectionsColor: {{ .Params.sectionsColor }},
      anchors: {{ .Params.anchors }},
      menu: '#menu',
      css3: true,
      navigation: true,
      scrollingSpeed: 1000
    });
  });
</script>
{{ template "_internal/google_analytics_async.html" . }}
